---
import Badge from '@/components/Badge.astro';
import Social from '@/components/Social.astro';
import Experience from '@/components/Experience.astro';

import Layout from '@/layouts/Layout.astro';

//Iconos
import LinkedIn from '@/components/Icons/LinkedIn.astro';
import Github from '@/components/Icons/Github.astro';
import MailIcon from '@/components/Icons/Mail.astro';
import Instagram from '@/components/Icons/Instagram.astro';
---

<Layout 
		title="Porfolio de BartoDev - Desarrrollador y Programador Web con mas de 15 de Expeiencia"
		description="Contrata a BartoDev para cualquier tipo de Desarrollo. Desarrollador Frontend, Backend y Devops. Especializado en crear todo tipo de Aplicaciones Web e Implementaciones."
>
	<main>

	<section class="w-full lg:w-[740px] mx-auto py-44">

		<img class="rounded-full size-14 mb-4" src="https://avatars.githubusercontent.com/u/70737121?v=4" alt="BartoDev Photo">

		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10 relative group">
			Buenas! soy 
			<span class="relative inline-block group-hover:text-white transition-all duration-300">
				BartoDev
				<span class="absolute left-0 top-2/3 w-full h-[4px] bg-red-400 origin-left scale-x-0 group-hover:scale-x-105 transition-transform duration-300 rotate-[355deg]"></span>
			</span>
			<span class="absolute -top-8 left-0 opacity-0 mx-48 text-3xl text-green-400 group-hover:opacity-100 transition-opacity duration-300">
				Gastón Bartucci Peredo
			</span>
			<a href="https://www.linkedin.com/in/gaston-bartucci-peredo/" target="_blank" rel="noopener" class="flex justify-center items-center py-4"><Badge>Se aceptan chambas</Badge></a>
		</h1>

		<h2 class="text-xl opacity-90text-wrap">+15 años de experiencia como <span class="text-green-200 hover:text-green-300 transition">Desarrollador Frontend, Backend y Devops. </span><br>
		De Buenos Aires, Argentina <span class="bg-sky-400 text-sky-400 rounded-l-md">//</span><span class="bg-sky-50"><span class="text-yellow-400">☀</span></span><span class="bg-sky-400 text-sky-400 rounded-r-md">//</span>.
		<br> <span class="opacity-80"> Especializado en crear todo tipo de <span class="underline decoration-red-200 hover:decoration-red-300 transition">Soluciones</span>💡 e <span class="underline decoration-red-200 hover:decoration-red-300 transition">Implementaciones</span>🛠️.</span></h2>
		
		<nav class="flex gap-x-2 mt-6">
			<Social href="https://www.linkedin.com/in/gaston-bartucci-peredo/">
				<LinkedIn class="size-6"/> LinkedIn
			</Social>
			
			<Social href="https://github.com/TheBartogx">
				<Github class="size-6"/> Github
			</Social>

			<Social href="gastonbperedo@bartodev.com">
				<MailIcon class="size-6"/> gastonbperedo@bartodev.com
			</Social>
			
			<Social href="https://www.instagram.com/gastonbperedo/">
				<Instagram class="size-6"/> gastonbperedo
			</Social>
		</nav>
	</section>

	<section>
		<Experience />
	</section>

	</main>
</Layout>


