<div class="relative group inline-block hover-trigger">
    <!-- Imagen de perfil -->
    <img
      class="rounded-full size-20 md:size-24 lg:size-28 mb-4 
             group-hover:scale-[1.4] group-hover:-translate-y-8 group-hover:lg:-translate-y-6 
             group-hover:translate-x-8 group-hover:lg:translate-x-4 
             transition"
      src="https://avatars.githubusercontent.com/u/70737121?v=4"
      alt="BartoDev Photo"
    />
  
    <!-- Circulo verde con check -->
    <div
      class="absolute bottom-4 right-2 w-5 h-5 bg-green-500 text-white 
             flex items-center justify-center rounded-full 
             group-hover:opacity-0 transition-opacity duration-100 ease-out"
    >
      ✓
    </div>
  
    <!-- Tooltip con efecto plop -->
    <div
      class="absolute left-full top-1/2 -translate-y-1/2 ml-6 
             opacity-0 scale-75 pointer-events-none 
             group-hover:opacity-100 group-hover:scale-100 group-hover:pointer-events-auto
             transform transition-all duration-300 ease-out 
             flex flex-col items-start bg-white/80 border border-gray-600 shadow-xl 
             rounded-xl p-4 w-[400px] z-10 text-sm text-gray-800"
    >
      <p class="font-semibold cursor-default">Carlos Jorge Gastón Bartucci Peredo</p>
      <p class="text-gray-600">gastonbperedo@bartodev.com</p>
      <p class="text-xs mt-2 text-green-700 cursor-default">Licenciado en Tecnologías de la Información y Comunicaciones para la Seguridad Pública</p>
  
      <!-- Enlace a LinkedIn -->
      <a href="https://www.linkedin.com/in/gaston-bartucci-peredo/" 
         target="_blank" 
         rel="noopener" 
         class="flex justify-left items-center mt-4 text-green-800 hover:underline">
        <span class="bg-green-300 text-green-800 font-semibold px-2 py-1 rounded-lg">Se aceptan chambas</span>
      </a>
    </div>
  </div>
