---
const currentYear = new Date().getFullYear();
---

<footer
  class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <span class="text-sm sm:text-center text-white/70"
      >© {currentYear}
      <a href="https://BartoDev.com/" class="hover:underline">BartoDev</a>.
      Evaluando si hay algun derecho reservado.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/70 sm:mt-0"
    >
      <li>
        <a href="/#sobre-mi" class="me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a id="contacto" href="mailto:gastonbperedo@bartodev.com">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
